NODE_ENV=production
PORT=8080
MONGODB_URI=mongodb+srv://sakabsibsin_db_user:5iwmkbJnDI55JRBl@cluster0.xdmmkqb.mongodb.net/sakabsibs?appName=Cluster0
JWT_SECRET=paste-generated-secret-here
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=dngergais
CLOUDINARY_API_KEY=835863188235598
CLOUDINARY_API_SECRET=ZRar70OEpCn76cYE2LVKzdxYzxE 
FRONTEND_URL=http://localhost:5173
ADMIN_DEFAULT_PASSWORD=aurum2024
RESEND_API_KEY=re_DSg1H7yt_JemJchDx5tZ4Ko1qjAsYXWav